[submodule "chrono-docs"]
	path = chrono-docs
	url = https://github.com/Lolmerkat/chrono-docs.git
    branch = main
[submodule "chrono-core"]
	path = chrono-core
	url = https://github.com/Lolmerkat/chrono-core.git
    branch = main
[submodule "chrono-cli"]
	path = chrono-cli
	url = https://github.com/Lolmerkat/chrono-cli
    branch = main
[submodule "chrono-desktop"]
	path = chrono-desktop
	url = https://github.com/Lolmerkat/chrono-desktop
